
.margin{width: 1200px;margin: 0 auto;}
 #header{height:40px;height: 40px;background: #f2f2f2;border-bottom: 1px solid #cecece;}
#header .l{float: left;}
#header .l .te{color: red;line-height: 40px;}
#header .l a{color: red;}

#header .r{float: right;line-height: 40px;}
#header .r ul{}
#header .r ul li{float: left;position: relative;}
#header .r ul li>a{background: url(../img/sanjiao.png) no-repeat right center;padding-right: 16px;margin: 0 21px;font-size: 12px;color: #000;}
#header .r ul li a{display: block;}

#header .header_bag{position: absolute;width: 105px;background:#fff;top:40px;left:0;z-index: 1;display: none;font: 12px/2 "";text-align:center;padding: 0 5px;border: 1px solid #cecece;border-top:0;}
#header .header_bag a{padding:2px 0;}
#header .header_bag a:hover{color: red;}

#header #li .header_bag{position: absolute;width:350px;height: 156px;top:40px;left:0;z-index: 1;background:#fff;display: none;border: 1px solid #ccc;border-top:0;}
#header #li .header_bag b{display: block;font:600 12px/42px "";color:#454545;text-align:8px;border-bottom:1px solid #ccc;padding-left:9px;}
#header #li .header_bag span{display: block;font:12px/42px "";text-align: center;margin-top:10px; }
#header #li .header_bag a.te1{display: block;width: 124px;background:#d93600;margin-left: 215px;border-radius:6px;color:#fff;text-align: center;}

#nav{height: 148px;position: relative;border-bottom: 2px solid #20c018;}
#nav .nav-l{float:left;margin: 19px 15px 0 0;}
#nav .nav-l p{}
#nav .nav-l p a{font: 12px/20px "";color: #555;}
#nav .nav-c{float: left;margin:8px 0 0 210px;}
#nav .nav-c .p1{}
#nav .nav-c .p1 .current{background:#20c018;color: #fff;}
#nav .nav-c .p1 a{padding: 0 14px;font: 11px/2 "";display:inline-block; }
#nav .nav-c .p2{height:42px;}
#nav .nav-c .p2 input{border:3px solid #20c018;width:369px;height: 36px;padding-left: 4px;font: 12px/3 "";float: left;outline: none;}
#nav .nav-c .p2 a{width:68px;height: 42px;background: #20c018;float: left;color:#fff;line-height: 42px;text-align: center;}
#nav .nav-c{position:relative;}
#nav .nav-c ul{position:absolute;z-index:8;left:50;top:70;display:none;width:200px;height: 200px;}
#nav .nav-c ul li{width:379px;height: 19px;border: 1px solid #ccc;border-top: none;text-indent: 20px;cursor:pointer;}
#nav .nav-c ul .active{background: red;}
#nav .nav-r{float:right;margin-top:20px;}
#nav .nav-c .p3{height: 27px;line-height: 27px;}
#nav .nav-c .p3 span{font:11px/27px "";color:#999;}
#nav .nav-c .p3 a{color:#999;}
#nav .box{position: absolute;bottom: 0;left:315px;height: 39px;line-height: 39px;width: 800px;}
#nav .box a{font:600 15px/39px "";color:#000;padding:0 24px;display: inline-block;}

#detail_bag{width:1200px;height:200px;}
#detail_bag p{width:350px;font:30px/2 "";text-align: center;}
#detail_bag .sbox{width:350px;height:350px;margin-top:20px;}
#detail_bag .img{width:350px;height:350px;}

#detail_bag .bbox{width: 380px;height:410px;border:1px solid #000;position: absolute;left:700px;top:190px;overflow: hidden;display: block;margin-top:65px;}
#detail_bag .bbox img{width: 1600px;position: absolute;height: 900px;}
