.margin{width:1200px;margin:0 auto;position: relative;}
header{height:170px;border-bottom: 2px solid #079a3e;}
/* header a{} */
header a .img1{margin-top:55px;margin-left:40px;}
header a .img2{margin-top:92px;margin-right:15px;float:right;}
header a.te{position: absolute;top:140px;display:block;background: #fff;width:360px;height:61px;}
header a .img3{position: absolute;margin:0 auto;left:0;right: 0;top:0;bottom:0;}
main{position: relative;}
main .bag{width:700px;height:482px;margin-top:64px;border-top:1px dashed #079a3e;border-bottom:1px dashed #079a3e;}
main h3{font:600 24px/2 "";margin-top:15px;}
main p{width:340px;height:35px;background:#fff;margin-top:30px;margin-left:40px;padding-left:5px;padding-right:5px;border:1px solid #ccc;}
main p.te{margin-top:15px;}
main p img{}
main p input{height:35px;border:0;outline: none;}
.add{width:340px;height:35px;border:1px solid #ccc;background: #fff;margin-top:30px;margin-left: 40px;padding:5px;}
.add input{height:35px;border:0;outline: none;}
.add #btn{float: right;}
.bag_r{position: absolute;top:140px;right:0;}
.bag_r h4{font:20px/30px "";}
.bag_r input{display:block;width:80px;height:20px;background:#079a3e;margin-top:20px;margin-right:20px;}
/* .bag_r a{display:block;width:20px;height:20px;}
.bag_r a input{display:block;width:20px;height:20px;background:#079a3e;} */

.box{padding-left:300px;}
/* .box #input1{float:left;}
.box span{float:left;}
.box #input2{width:80px;height:20px;background:#079a3e;display: block;}
.box #input3{width:80px;height:20px;background:#079a3e;display: block;}
.box input{margin-top:20px;} */
.box .bag_t{margin-top:20px;font:12px/2 "";}
.box .bag_t span{line-height:24px; }
.box .bag{margin-top:20px;}
.box .bag input{width:100px;height:20px;background:#079a3e;}
.bag p.yanzheng #bigcode{display:inline-block;width:120px;height:35px;font: 12px/2 "";}
.bag p.yanzheng #veri{height:24px;display:inline-block;line-height: 24px;}